<div class="trust-icons">
    {% for i in (1..3) %}
        <div class="trust-block">
            <img src="{{ 'icon-quality.jpg' | asset_url }}" alt="quality-icon" />
            <div class="trust-text">
                <p class="trust-title">100% Qualität</p>
                <p class="trust-subtitle">Dank weichem Silikon</p>
            </div>
        </div>
    {% endfor %}
</div>
